* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #f0f0f0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

#theme-selector-container {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

details {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}
body.light {
    background-color: #fff;
    color: #000;
}

body.dark {
    background-color: #121212;
    color: #eee;
    border-color: #333;
}

body.dark section {
  border-color: #333;
}
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}